In [4]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)

%matplotlib inline

import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [5]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [9]:
# salary is your target data

df = pd.read_csv(DATA_URL + "adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
# Check shape of data

In [9]:
# Check if there are any missing values - hint - there are some '?'

In [ ]:
# check for colums names, datatypes, ect.

In [ ]:
# Check for min, max, min, std, percentiles

In [ ]:
# check stats for non-numerical values

In [10]:
# count values for non-numerical columns (do some normalization, don't be shy)

In [11]:
# replace/map salary and sex columns to boolean (0,1) and change its type to integer

In [ ]:
# Make histogram of values

In [ ]:
# Do correlation matrix

In [8]:
# your conclusions, analize correlation with salary?

In [ ]:
# analize the correlated variables with boxplots, contingency tables.

In [ ]:
# do countplots for non numerical values with salary as hue

In [ ]:
# your conclusions